{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Product List</h1>
        <a href="{{ path('product_new') }}" style="float: right"><button class="btn btn-primary"> Add a new Product  </button></a>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>ImageURL</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td><img src="{{ product.imageURL }}" style="height: 50%"></td>
                    <td>
                        <a href="{{ path('product_show', {'id': product.id}) }}"><button class="btn btn-warning btn-sm"> Show </button></a>

                        <a href="{{ path('product_edit', {'id': product.id}) }}"><button class="btn btn-success btn-sm"> Edit </button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
