{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Product Details</h1>
            <div class="card" >
                <img src="{{ product.imageURL }}" class="card-img-top" style="width: 30%">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold">{{ product.name }} </h5>
                    <h3 class="card-title" style="color: darkblue; font-weight: bold"> {{ product.price }} $</h3>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-title">Quantity : {{ product.quantity }}</p>
                    <p class="card-title">Created at : {{ product.createAt ? product.createAt|date('Y-m-d H:i:s') : '' }}</p>
                    <a href="{{ path('product_index') }}"><button class="btn btn-sm"> Show List </button></a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}"><button class="btn btn-sm btn-success"> Edit </button></a>
                    {{ include('product/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </main>

{% endblock %}
